<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login_form_get.html</title>
    <style>
    .my-div {
        border : 2px white solid;
        height :150px;
        text-align : center;
    }
    body {
      background: url("https://user-images.githubusercontent.com/93892724/190860818-e53b773b-3728-4872-b3d9-e7db36716c93.jpg");
      background-size: cover;
    }
    </style>

</head>
<body>
<h1>
    <font color=white><p style="text-align:center;">Hello!👋</p></font>

<div class="my-div">
    <form action="login_get_proc" method="get">
        <font color=white>ID:  </font><input type="text" name="user_id", value="sola"><br>
        <font color=white>PWD:  </font><input type="password" name="user_pwd"><br>
        <input type="submit" value="Click">
    </form>
</div>
</h1>
</body>
</html>