<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='softeng.css')}}" rel="stylesheet" type="text/css">
</head>

<body style="background-color:#ffe4e1;">
<nav>
    <a href="{{ url_for('home')}}">home</a>
    <a href="{{ url_for('blog')}}">blog</a>
    <a href="{{ url_for('about')}}">about</a>
</nav>

<h4 align="center">🌱 My major is Digital Agriculture Tech. I study Python, JavaScript, HTML, and CSS.<br>
Currently, I am studying about the front-end, reading a book, watching related YouTube, and studying on my own.<br>
These days, I most focused on plant smart-farm environmental control using Arduino and raspberry pie.
<br>⚡ Fun fact: I've gained weight lately, so I'm doing free weight training.</h4>

<br>
</body>

</html>