{% extends "layout.html" %}

{% block content %}
<div class = "container">
<h1 align="center">blog</h1>
{% if posts|length == 0 %}
<h2 align="center">welcome</h2>
<h3 align="center"><img src="{{ url_for('static', filename='images/flycat.png') }}"></h3>
{% else %}
<div>
  <div>
    {% for post in posts %}
      <article>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content}}</p>
        <div>
          <p>{{ post.author.username }}</p>
          <p>{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
</div>
{% endif %}

{% endblock %}