<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My git_log</title>
</head>
<body>
<div class="col">
    <div class="card1" onclick="location.href='/sol_log'">
        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2FMjAyMDAzMjNfODYg%2FMDAxNTg0OTcwMzk4MzI3.AcDgm49xqtk5jr1zl5_GcSTVjVKHPOovnjJBNMciw6cg.7GWoFJBeoNU3KWeB4_BVxOjPFfvNzgTi3KR3qKwU8N8g.PNG%2Fcat_PNG50542.png&type=sc960_832" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title1">고먐미를 클릭하세욤</h3>
        </div>
    </div>
</div>
</body>
</html>